.study {
}

.study__title {
  text-align: center;
  margin-bottom: 50px;
}

.study__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0cf65;
  color: #313e5c;
  max-width: 700px;
  padding: 30px;
  border-radius: 20px;
  margin: 0 auto 20px auto;
  width: fit-content;
  min-height: 200px;
}

.study__character {
  text-align: center;
  font-size: 55px;
  margin-bottom: 15px;
}

.study__pinyin {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.study__translation {
  max-width: 300px;
  text-align: center;
}

.study__keys-container {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.study__arrow-left,
.study__arrow-right,
.study__space {
  background-color: #bb3b24;
  color: #fff;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  padding: 5px;
  height: 35px;
  width: 60px;
  border-radius: 8px;
  transition: all 0.2s;
}

.study__space {
  width: 120px;
  font-size: 15px;
  line-height: 15px;
  padding: 10px;
}

.study__key-pressed {
  filter: contrast(1.2);
}
