.video-origin {
  display: flex;
  position: relative;
  width: fit-content;
  margin: 0 auto 30px auto;
}

.video-origin__video {
  border-radius: 20px;
  border: 5px solid #f0cf65;
  box-sizing: content-box;
}

.video-origin__player-buttons {
  position: absolute;
  right: -40px;
  top: 8px;
  display: flex;
  flex-direction: column;
}

.video-origin__replay-button,
.video-origin__speed-button {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 8px;
  padding: 4px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #bb3b24;
  margin-bottom: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.video-origin__replay-button {
  background-image: url('../../images/replay-icon.png');
}

.video-origin__speed-button {
  background-image: url('../../images/speed-icon.png');
}

.video-origin__replay-button:hover,
.video-origin__speed-button:hover {
  filter: contrast(1.2);
}
