/* Colors Used
background: #ff6347
black-letters: #313e5c
level1: #d3f6db
level2: #92e5d6
level3: #a1ef8b
*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  line-height: 1em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.app {
  background-color: #ff6347;
  padding: 50px 100px 100px 100px;
  color: #fdffff;
  min-height: 100vh;
}

.app__title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.pal {
  width: 100px;
  height: 50px;
  background-size: cover;
  border: 1px solid rgb(255, 255, 255);
}
.pal1 {
  background-image: url('../../images/pal1.png');
}

.pal2 {
  background-image: url('../../images/pal2.png');
}

.pal3 {
  background-image: url('../../images/pal3.png');
}
