.header {
  margin-bottom: 60px;
  max-height: 80px;
}

.header__navbar {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 20px;
}

.header__link {
  font-size: 18px;
  margin-right: 22px;
  transition: all 0.2s ease;
}

.header__link:hover {
  color: #ffed48;
  border-bottom: 5px solid #ffed48;
}
