.episodes-by-origin {
  width: 100%;
  max-width: 700px;
}

.episodes-by-origin__title {
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  border-bottom: 2px solid #f0cf65;
  width: 50%;
}

.episodes-by-origin__info-container {
  display: flex;
  margin-bottom: 40px;
}

.episodes-by-origin__thumbnail {
  width: 40%;
  border-radius: 10px;
  margin-right: 20px;
}

.episodes-by-origin__list {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
}

.episodes-by-origin__item {
}

.episodes-by-origin__link {
  color: #313e5c;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  background-color: #f0cf65;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 15px;
  line-height: 15px;
  transition: all 0.5s ease;
}

.episodes-by-origin__link:hover {
  filter: contrast(1.2);
  transform: scale(1.05);
}
